body {
    background-color: #000 !important;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.contact-form-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.contact-form-container h2 {
    color: purple;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    color: #ede8f5;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #ede8f5;
}

.contact-form button {
    padding: 10px;
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: #ede8f5;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: purple;
}
/* Media Queries */
@media (max-width: 768px) {
    .contact-form-container {
        padding: 15px;
    }

    .contact-form-container h2 {
        font-size: 24px;
    }

    .contact-form label {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
        padding: 8px;
    }

    .contact-form button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .contact-form-container {
        padding: 10px;
    }

    .contact-form-container h2 {
        font-size: 20px;
    }

    .contact-form label {
        font-size: 12px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 12px;
        padding: 6px;
    }

    .contact-form button {
        font-size: 12px;
        padding: 6px;
    }
}